

/*.about {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    font-family: "Lemon Milk", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  
  .aboutTop {
    width: 100%;
    max-height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    flex: 50%;
  }
  
  .aboutBottom {
    display: flex;
    flex-direction: column;
    max-height:100%;
    align-items: center;
    margin-top: 50px;
    flex: 50%;
  }


  .inlineStyle{
    left: '50%';
    top: '50%';
    position: 'fixed';
    color: beige;
    padding: '20px';
    transform: 'translate(-50%, -50%)';
    text-align: center;
    
    
    


  }
  
  .aboutBottom p {
    width: 1200px;
  }
  
  .about .aboutBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
  }*/
  .content{
    height: 70vh;
  }

  .text-content{
    text-align: center;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 50px;
  }

  .paragraph-content{
    text-align: center;
    font-size: 30px;
  }
  